<div data-section-id="{{ section.id }}" data-section-type="section-banner-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v4 "> 
    <div class="relative banner-v7 " style="background-image: url({% if section.settings.img_banner != blank %}{{ section.settings.img_banner | image_url }} {% else %} //via.placeholder.com/1920x700{% endif %})">
      <div class="container container-v2">
        <div class="row " style="align-items: center;">
          <div class="col-md-6">
            <div class="img-banner text-center">  
              {% if section.settings.img_banner1 != blank %} 
              <img loading="lazy" width="" height="" data-src="{{section.settings.img_banner1 | image_url }}" class="lazyload img-fluid " alt >
              {% else %}
              <img loading="lazy" width="" height="" data-src="//via.placeholder.com/496x223" class="lazyload img-fluid " alt>
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="content-banner">
              <a href="{{section.settings.url_button}}">
                {% if section.settings.title_banner != blank %}
                <h3 class="title-banner title-banner-{{ section.id }}" >{{section.settings.title_banner}}</h3>
                {% endif %}
              </a>
              {% if section.settings.content_banner != blank %}
              <p class="content" style="color: {{section.settings.color_content_banner}}">{{section.settings.content_banner}}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .section-banner-v4 .banner-v7 .content-banner .title-banner-{{ section.id }} {
    color: {{section.settings.color_title}};
  }
  .section-banner-v4 .banner-v7 .content-banner  .title-banner-{{ section.id }}:hover {
    color: {{section.settings.color_title_hover}};
  }
</style>

{% schema %}
{
  "name": "BANNER V4",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
	{
      "type": "image_picker",
      "id": "img_banner",
      "label": "Background Image",
      "info": "1920 x 700px recommended"
    },
    {
      "type": "header",
      "content": "Settings Banner 7"
    },
    {
      "type": "url",
      "id": "url_button",
      "label": "URL Button Banner",
      "default": "/collections/all"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image Banner 1",
      "info": "600x600px recommended"
    },
    {
      "type": "text",
      "id": "title_banner",
      "label": "Title Banner",
      "default": "Rewards just for shopping!"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_title_hover",
      "label": "Color Title Hover",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "content_banner",
      "label": "Content Banner",
      "default": "Don’t forget to opt into Fashion News to have your offers and rewards delivered right to your inbox!"
    },
    {
      "type": "color",
      "id": "color_content_banner",
      "label": "Color Contnet",
      "default": "#000"
    }    
    
  ],
  "presets": [
    {
      "name": "BANNER V4",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
